/*Paul Irish Reset: https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */

html {
    box-sizing: border-box;
    font-size: 10px;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* Color constants https://coolors.co/faf3dd-bedacd-68b0ab-3a5a40-16221c */

:root {
    --font-primary: #16221c;
    --heading-color: #3a5a40;
    --background-primary: #bedacd;
    --background-info-box: #68b0ab;
}

body { 
    font-family: 'Dosis', sans-serif;
    color: #16221c;
    background: var( --background-info-box); 
}

/* Background Image by Scott Webb "https://unsplash.com/s/photos/plants?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" */

.shop-name-container {
    display: flex;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    margin-bottom: 10px;
    position: relative;
}

.shop-name-background {
    display: flex;
    width: 100%;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.25);
    top: 0%;
}

.shop-name-title {
    padding-top: 10%;
    font-size: 11rem;
    position: absolute;
    width: 100%;
}

/* Bootstrap Carousel https://getbootstrap.com/docs/5.0/components/carousel/ */

/* Hawthoria Photo by Stephanie Harvey on "https://unsplash.com/collections/1287106/cactus-%2B-succulent-arrangements?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText" */

/* Rubber Tree by Elle Lumiere "https://unsplash.com/s/photos/rubber-tree?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" #/

/* Snake Plant Photo by Sarah Bronske "https://unsplash.com/s/photos/snake-plant?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText" */

.favorites-carousel-header {
    font-size: 4rem;
    text-align: center;
}

.favorites-carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

.carousel-inner {
    height: 600px;

}

.visually-hidden {
    font-size: 1.75rem;
    color: var(--font-primary)
}

/* "Business Owner's Image" by Pope Moyush "https://unsplash.com/s/photos/people-in-nature?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" */

.about-us {
    background: var(--background-primary); 
    width: 100%;
    display: flex;
    margin: 15px auto;
}

.about-us h2 {
    font-size: 4rem;
    margin: 50px;
    padding-top: 7%;
    padding-bottom: 10px;
    text-align: center;
}

.about-us p {
    font-size: 3rem;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
}

.business-owner {
  height: 600px;
}

/* Cactus image by Mat Reding "https://unsplash.com/s/photos/cactus?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText" */

/* Spider plant image by Lucian Alexe "https://unsplash.com/s/photos/spider-plant?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText" */

/* Cat laying by houseplant image by Leonardo Baldissara "https://unsplash.com/s/photos/cactus?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText" */

.shop-options {
    display: flex;
    flex-wrap: column;
    justify-content: center;
}

.shop-options h3 {
    text-align: center;
    font-size: 3rem;
}

.shop-cacti-image {
    height: 400px;
    padding: 10px 10px 10px 10px;
    border-color: var(--font-primary);
}

.shop-houseplants-image {
    height: 400px;
    padding: 10px 10px 10px 10px;
    border-color: var(--font-primary);
}

.shop-petfriendly-image {
    height: 400px;
    padding: 10px 10px 10px 10px;
    border-color: var(--font-primary);
}

.business-information {
    width: 600px;
    margin: 20px auto;
    text-align: center;
}

.business-information h3 {
    font-size: 3rem;
    font-weight: bold;
}

.business-information p {
    font-size: 2.75rem;
}

.subscribe-form {
    margin-top: 30px;
    margin-bottom: 50px;
}

.subscribe-form h4 {
    font-size: 4rem;
}

.subscribe-button {
    border: none;
    padding: 5px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.4)

}

.social-media {
    background-color: var(--background-info-box);
    padding: 10px 30px 10px 30px;
    justify-content: space-evenly;
    text-decoration: none;
    display: flex;
}

.social-media-img {
    width: 70px;
}

.copyright {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
}

/* cacti.html */
/* Image by Maarten Deckers on "https://unsplash.com/@maartendeckers?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText" */
/* Image by Severin Candrian on "https://unsplash.com/@feeypflanzen?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText" */

h2 {
    width: 100%;
    font-size: 4rem;
    text-align: center;
    padding: 10px;
}

h3 {
    font-size: 3rem;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
}

p {
    font-size: 2rem;
    margin-bottom: 15px;
    text-align: center;
}

img {
    height: 450px;
    margin: 10px auto;
}

.cactus-plants-prices {
    display: flex;
    justify-content: space-evenly;
}

.houseplant-prices {
    display: flex;
    justify-content: space-evenly;
}

.pet-friendly-prices {
    display: flex;
    justify-content: space-evenly;
}

/* Contact Us */

.contact-us-form {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.contact-form-fieldset {
    display: block;
    margin-top: 20px;
}

.contact-us {
    font-size: 3rem;
    text-align: center;
}

.form-group {
    font-size: 2rem;
    margin: 5px 30px 5px 30px;
    width: 600px;
}

.contact-submit-button {
    border: none;
    padding: 8px;
    margin-top: 10px;
    margin-left: 30px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.4);
}

@media only screen and (min-width: 728px) {
    .shop-options {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}